
.table-view {
    -fx-background-color: transparent;
}
.table-column {
    -fx-background-color: transparent;
}
.table-row-cell {
    -fx-background-color:transparent;
}
.table-view .column-header-background {
    -fx-background-color:transparent;
}
.table-view .filler {
    -fx-background-color: transparent;
}