*{
    -cf-primary-color: #303133;
    -cf-success-color: #33C651;
    -cf-info-color: #303133;
    -cf-warn-color: #FFA10A;
    -cf-danger-color: #FF4C3F;

    -cf-text-color:#303133;
    -cf-border-color:#303133;
    -cf-base-color:#EB3C27;
}